.plugin-table-tag-filters {
	display: flex;
	flex-direction: row;
	column-gap: 0.5em;
	flex-wrap: wrap;

	.active {
		font-weight: 700;
	}
}

// Plugin list:
#the-list {

	.column-tags {

		.active {
			font-weight: 700;
		}
	}
}

// Plugin install:
#plugin-filter {

	#the-list {

		&.filtered {

			.plugin-card {
				display: none;

				&.filtered__show {
					display: block;
				}
			}
		}
	}
}
